.heading{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
}
.heading__content{
    border-right: 3px solid #C0C0C0;
    padding: 0 50px;
}
.heading__content:last-child{
    border-right: none;
}
.heading__content-title{
    display: block;
}
.heading__content-item{
    font-size: 50px;
    font-weight: bold;
}

.content{
    background: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
}
.content__control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.search-form__input{
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    color: #C0C0C0;
    height: 35px;
    width: 150px;
}
.search-form__button{
    border: none;
    border-radius: 3px;
    background: #A9A9A9;
    color: #FFFFFF;
    cursor: pointer;
    height: 35px;
    width: 100px;
    margin-left: 8px;
}
.control-link{
    text-align: center;
}
.control-link__button{
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    color: #FFFFFF;
    background: linear-gradient(to right, #a4a7e1, #EE82EE);
    width: 150px;
    height: 35px;
    padding: 5px 0;
}

.table__inner{
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}
.table__row:first-child{
    border-bottom: 1px solid #A9A9A9;
}
.table__header{
    padding: 10px 0 10px 30px;
}
.table__header:last-child{
    padding-left: 0;
}
.table__item{
    padding: 15px 0 15px 30px;
}
.table__item--modal{
    padding: 15px 0 15px 30px;
}
.pencil{
    background: linear-gradient(to right,#a4a7e1,#EE82EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content__pagination{
    text-align: center;
}

/* モーダル */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.modal:target{
    visibility: visible;
    opacity: 1;
}
.modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
}
.modal__content{
    position: relative;
    padding: 10px 20px;
}
.modal-form__group{
    margin-bottom: 25px;
}
.label-group{
    margin-bottom: 5px;
}
.label-group label{
    margin-right: 5px;
    padding: 3px;
}
.label-group span{
    background: #FF0000;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px;
    border-radius: 3px;
}
.modal-form__group input{
    width: 90%;
    height: 30px;
    margin-right: 3px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
}
.modal-form__group textarea{
    width: 90%;
    height: 100px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
}
.modal-form__error{
    color: #FF0000;
}
.modal-form__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.modal-form__button--back{
    display: inline-block;
    padding-top: 5px;
    width: 150px;
    height: 40px;
    border: solid 1px #C0C0C0;
    border-radius: 3px;
    text-decoration: none;
    background: #efefef;
    color: #000000;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
    font-size: 18px;
}
.modal-form__button--register{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    background: linear-gradient(to right, #a4a7e1, #EE82EE);
    cursor: pointer;
    font-size: 18px;
}
