body{
    background: linear-gradient(45deg, #ffdad9, #ff8eb9);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__group{
    border-radius: 10px;
    background: #FFFFFF;
    width: 600px;
    padding: 30px;
}
.main__group-title{
    text-align: center;
    color: #ec89ef;
    font-size: 60px;
    margin: 20px;
}
.main__group-subtitle{
    text-align: center;
}
.main__group-lead{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form__group-content{
    margin-bottom: 30px;
}
.form__group-title{
    margin-bottom: 10px;
}
.form__label{
    font-weight: bold;
}
.form__input input{
    width: 450px;
    height: 40px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    margin-bottom: 10px;
}
.form__error{
    color: #FF0000;
}
.form__button-submit{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    background: linear-gradient(to right, #a4a7e1, #EE82EE);
    cursor: pointer;
}

.main__group-link{
    text-align: center;
    padding: 20px;
}